# Terraform state files
*.tfstate
*.tfstate.backup

# Crash logs
crash.log

# Exclude .terraform directory (contains downloaded providers and modules)
.terraform/

# Override plan output file
plan.tfplan
